body {
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d3d3d3;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    color: white;
}

.active {
    background-color: #e3e3e3;
}

img#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

